.slideshow-box {
    height: calc(100vh - 100px);
    position: relative;
    width: 100%;
    z-index: 1;
    .slick-list {
        height: 100%;
        .slick-track {
            height: 100%;
        }
    }
    .slider {
        height: 100%;
        overflow: hidden;
        &-item {
            height: 100%;
            position: relative;
            z-index: 1;
            &:before {
                background: rgba($green, .15);
                content: '';
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 9;
            }
            img {
                @include objectfit;
                transform: scale(1.2);
                transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
            }
            &.slick-active img {
                @include objectfit;
                transform: scale(1);
            }
        }
    }
}

.slick-dots {
    @include center(vertical);
    list-style-type: none;
    padding-left: 0;
    right: 15px;
    z-index: 999;
    @include respond-to(xs) {
        @include center(horizontal);
        bottom: 15px;
        text-align: center;
        top: auto;
    }
    li {
        @include respond-to(xs) {
            display: inline-block;
        }
        button {
            background: rgba($white, .85);
            border: 0;
            border-radius: 5px;
            content: '';
            cursor: pointer;
            font-size: 0;
            height: 16px;
            margin-bottom: 10px;
            width: 16px;
            @include events {
                outline: 0;
            }
            @include respond-to(xs) {
                margin: 0 7.5px;
            }
        }
        &.slick-active {
            button {
                background: rgba($lighter-green, .85);
                border: 0;
                @include events {
                    outline: 0;
                }
            }
        }
    }
}

.slider-box {
    @include center;
    color: $white;
    text-align: center;
    text-shadow: 1px 1px 1px #222;
    width: 650px;
    z-index: 999;
    @include respond-to(sm) {
        width: 400px;
    }
    @include respond-to(xs) {
        width: 100%;
    }
    &__title {
        font-size: 88px;
        font-weight: 700;
        @include respond-to(md) {
            font-size: 72px;
        }
        @include respond-to(sm) {
            font-size: 50px;
        }
        @include respond-to(xs) {
            font-size: 36px;
            margin-bottom: 0;
        }
        &--span {
            font-size: 26px;
            font-weight: 500;
            position: relative;
            @include respond-to(sm) {
                font-size: 18px;
            }
            @include respond-to(xs) {
                font-size: 18px;
            }
            &:before {
                @indlude center(vertical);
                color: $white;
                content: '<';
                font-family: 'Chewy', cursive;
                font-size: 40px;
                margin-right: 15px;
                @include respond-to(xs) {
                    font-size: 34px;
                    position: relative;
                    top: 2px;
                }
            }
            &:after {
                @indlude center(vertical);
                color: $white;
                content: '/>';
                font-family: 'Chewy', cursive;
                font-size: 40px;
                margin-left: 15px;
                @include respond-to(xs) {
                    font-size: 28px;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}
