.about {
    &-container {
        background: #f7f7f7;
    }
    &-wrapper {
        padding: 100px 150px 100px 100px;
        @include respond-to(xl) {
            padding: 75px 50px 75px 50px;
        }
        @include respond-to(md) {
            padding: 50px 50px 30px 50px;
        }
        @include respond-to(sm) {
            padding: 50px 25px 30px 25px;
        }
        @include respond-to(xs) {
            padding: 25px 15px 25px 15px;
        }
        &__title {
            color: $grey;
            display: inline-block;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 30px;
            margin-left: 25px;
            position: relative;
            text-transform: uppercase;
            @include respond-to(md) {
                font-size: 30px;
            }
            @include respond-to(sm) {
                font-size: 26px;
            }
            @include respond-to(xs) {
                font-size: 18px;
                margin-bottom: 20px;
                margin-left: 20px;
                text-align: center;
            }
            &:before {
                color: $green;
                content: '<';
                font-family: 'Chewy', cursive;
                font-size: 44px;
                left: -25px;
                position: absolute;
                top: -9px;
                @include respond-to(sm) {
                    top: -13px;
                }
                @include respond-to(xs) {
                    font-size: 26px;
                    left: -20px;
                    margin-bottom: 20px;
                    top: -8px;
                }
            }
            &:after {
                color: $lighter-green;
                content: '/>';
                font-family: 'Chewy', cursive;
                font-size: 40px;
                position: absolute;
                right: -40px;
                top: -2px;
                @include respond-to(sm) {
                    top: -9px;
                }
                @include respond-to(xs) {
                    font-size: 24px;
                    margin-bottom: 20px;
                    right: -25px;
                    top: -4px;
                }
            }
        }
        p {
            font-size: 15px;
            font-weight: 300;
            @include respond-to(sm) {
                font-size: 13px;
            }
        }
    }
    &-images {
        display: flex;
        flex-direction: column;
        position: relative;
        &__big {
            border-bottom: 3px solid #f7f7f7;
            display: flex;
            height: 400px;
            overflow: hidden;
            position: relative;
            @include respond-to(xs) {
                height: 180px;
            }
            &:before {
                @include transition(background, .45s);
                background: rgba($grey, .35);
                content: '';
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 9;
            }
            img {
                @include objectfit;
            }
        }
        &__small {
            border-right: 3px solid #f7f7f7;
            display: inline-flex;
            height: 300px;
            overflow: hidden;
            position: relative;
            width: 50%;
            @include respond-to(lg) {
                width: 50%;
            }
            @include respond-to(xs) {
                border-bottom: 3px solid #f7f7f7;
                border-right: 0;
                height: 180px;
                width: 100%;
            }
            &:nth-child(2) {
                border-right: 0;
            }
            &:before {
                @include transition(background, .65s);
                background: rgba($grey, .3);
                content: '';
                height: 100%;
                position: absolute;
                width: 100%;
                z-index: 9;
            }
            &-box {
                display: flex;
                flex-direction: row;
                @include respond-to(xs) {
                    flex-direction: column;
                }
            }
            img {
                @include objectfit;
            }
        }
    }
}

.about-images__big,
.about-images__small {
    .fig-title {
        @include transition(all, .25s);
        bottom: 30px;
        color: $white;
        font-weight: 300;
        left: 30px;
        position: absolute;
        text-shadow: 1px 1px 3px $grey;
        text-transform: uppercase;
        transform: translate3d(0, 0, 0);
        transition-delay: .25s;
        z-index: 9;
        span {
            color: $neon;
            font-weight: 700;
        }
        @include respond-to(xs) {
            bottom: 45px;
            font-size: 22px;
        }
    }
    .fig-subtitle {
        @include transition(all, .45s);
        background: $white;
        bottom: 30px;
        color: $lighter-green;
        color: #2f3238;
        font-size: 14px;
        font-weight: 500;
        left: 30px;
        padding: 5px 15px;
        position: absolute;
        text-transform: none;
        transform: translate3d(-360px, 0, 0);
        z-index: 9;
        @include respond-to(xs) {
            bottom: 0;
            font-size: 12px;
            transform: translate3d(0, 0, 0);
        }
    }
    &:hover {
        &:before {
            background: rgba($grey, 0);
        }
        .fig-subtitle {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition-delay: .3s;
        }
        .fig-title {
            transform: translate3d(0, -45px, 0);
            @include respond-to(xs) {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}
