.partner {
    &-container {
        align-items: center;
        border-bottom: 1px solid #eee;
        border-top: 1px solid #eee;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    &-box {
        @include transition(all, .3s);
        align-items: center;
        background: #f7f7f7;
        display: inline-flex;
        height: 280px;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        width: (100% / 5);
        @include respond-to(lg) {
            height: 200px;;
        }
        @include respond-to(md) {
            height: 150px;
        }
        @include respond-to(xs) {
            height: 100px;
            width: (100% / 3);
        }
        &:nth-child(even) {
            background: $white;
        }
    }
}
