#map {
    height: 600px;
    width: 100%;
    @include respond-to(lg) {
        height: 500px;
    }
    @include respond-to(md) {
        height: 400px;
    }
    @include respond-to(xs) {
        height: 350px;
    }
}

.place-box-container {
    @include flex;
    height: 100%;
    padding: 25px;
    @include respond-to(lg) {
        padding: 0 25px;
    }
}

.place {
    &-wrapper {
        padding: 0 100px;
        width: 100%;
        @include respond-to(xl) {
            padding: 25px 50px;
        }
        @include respond-to(sm) {
            padding: 25px;
        }
        @include respond-to(xs) {
            margin-top: 15px;
            padding: 0 30px;
            text-align: center;
            &:last-child {
                margin-bottom: 15px;
            }
        }
    }
    &-container {
        background: #f5f5f5;
        border-bottom: 1px solid #efefef;
        border-top: 2px solid #efefef;
    }
}

.place-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include respond-to(md) {
        margin-bottom: 0;
    }
    &__title {
        color: $grey;
        display: inline-block;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        width: 100%;
        @include respond-to(lg) {
            font-size: 22px;
        }
        @include respond-to(xs) {
            font-size: 16px;
        }
    }
    &__content {
        font-size: 14px;
        @include respond-to(sm) {
            font-size: 13px;
        }
    }
}
