.svg-gmail {
    @include transition(all,.3s);
    fill: $grey;
    width: 120px;
    @include respond-to(md) {
        width: 80px;
    }
    @include respond-to(xs) {
        width: 60px;
    }
}
.svg-yelp {
    width: 200px;
    @include respond-to(md) {
        width: 130px;
    }
    @include respond-to(xs) {
        width: 90px;
    }
    &-red {
        @include transition(all,.3s);
        fill: $grey;
    }
    &-black {
        @include transition(all,.3s);
        fill: $grey;
    }
}
.svg-github {
    @include transition(all,.3s);
    fill: $grey;
    width: 130px;
    @include respond-to(md) {
        width: 90px;
    }
    @include respond-to(xs) {
        width: 70px;
    }
}
.svg-youtube {
    @include transition(all,.3s);
    fill: $grey;
    width: 100px;
    @include respond-to(md) {
        width: 70px;
    }
    @include respond-to(xs) {
        width: 50px;
    }
}
.svg-fb {
    @include transition(all,.3s);
    fill: $grey;
    width: 90px;
    @include respond-to(md) {
        width: 70px;
    }
    @include respond-to(xs) {
        width: 45px;
    }
}
.svg-snap {
    @include transition(all,.3s);
    fill: $grey;
    width: 110px;
    @include respond-to(md) {
        width: 90px;
    }
    @include respond-to(xs) {
        width: 60px;
    }
}
.svg-apple {
    fill: $grey;
    width: 120px;
    @include respond-to(md) {
        width: 90px;
    }
    @include respond-to(xs) {
        width: 60px;
    }
}
.svg-linkedin {
    @include transition(all,.3s);
    fill: $grey;
    width: 110px;
    @include respond-to(md) {
        width: 90px;
    }
    @include respond-to(xs) {
        width: 60px;
    }
}
.svg-twitter {
    @include transition(all,.3s);
    fill: $grey;
    width: 110px;
    @include respond-to(md) {
        width: 90px;
    }
    @include respond-to(xs) {
        width: 60px;
    }
}
.svg-android {
    @include transition(all,.3s);
    fill: $grey;
    width: 110px;
    @include respond-to(md) {
        width: 90px;
    }
    @include respond-to(xs) {
        width: 60px;
    }
}
.partner-box {
    &:hover {
        .svg-gmail {
            fill: $google-plus;
        }
        .svg-yelp {
            &-red {
                fill: #bf2519;
            }
            &-black {
                fill: #231f20;
            }
        }
        .svg-github {
            fill: $github;
        }
        .svg-youtube {
            fill: $youtube;
        }
        .svg-fb {
            @include transition(all,.3s);
            fill: $facebook;
            width: 90px;
        }
        .svg-snap {
            @include transition(all,.3s);
            fill: #fffc00;
            width: 110px;
        }
        .svg-apple {
            @include transition(all,.3s);
            fill: $black;
        }
        .svg-linkedin {
            @include transition(all,.3s);
            fill: #0077b5;
        }
        .svg-twitter {
            @include transition(all,.3s);
            fill: $twitter;
        }
        .svg-android {
            @include transition(all,.3s);
            fill: #a4ca39;
        }
    }
}